A:link
{
	font-family:Tahoma;
	font-size:9pt;
	color:#2b7c92
}
A:active
{
	font-family:Tahoma;
	font-size:9pt;
	color:#2b7c92
}
A:visited
{
	font-family:Tahoma;
	font-size:9pt;
	color:#962084
}
.GlobalLink:link, .GlobalLink:active, .GlobalLink:visited
{
    font-family:Arial;
    font-size:9pt;
    color:#ffffff;
    text-dection:none
}
.GlobalLink:hover
{
    font-family:Arial;
    font-size:9pt;
    color:#ffffff;
    text-dection:underline
}
.BGColorVeryDark
{
	background-color:#003366
}
.BGColorDark
{
	background-color:#c3d4e8
}
.BGColorMedium
{
	background-color:#d9e5ef
}
.BGColorLight
{
	background-color:#99ccff
}
.BGGrayVeryDark
{
	background-color:#c3d4e8
}
.BGGrayDark
{
	background-color:#666666
}
.BGGrayMedium
{
	background-color:#999999
}
.BGGrayLight
{
	background-color:#cccccc
}
.BGAccentVeryDark
{
	background-color:#c3d4e8
}
.BGAccentVeryVeryDark
{
	background-color:#8aa9cd
}
.BGAccentDark
{
	background-color:#cfe0f1
}
.BGAccentMedium
{
	background-color:#ffffcc
}
.BGAccentLight
{
	background-color:#f2f2f5
}
.Footer
{
	background-color:#216DCB
}
.Body
{
	background-color:#ffffff;
	font-family:Tahoma
}
.PromptText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:right;
	color:#000000;
	font-weight:normal
}
.p_ProductBrandingText
{
	color:#336699;position:relative;
	font-family:Garamond, Times, Times New Roman, Serif;
	font-weight:normal;
	font-size:24pt;
	line-height:28.8pt;top:-4.8pt
}
.DataText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;color:#000000
}
.DataNumber
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;color:#000000;
	text-align:right
}
.FieldText
{
	font-family:Tahoma;
	font-size:9pt;
	color:#3c3c3c
}
.FieldTextDisabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;color:#999999
}
.FieldNumber
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:right;
	color:#000000
}
.FieldNumberDisabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:right;
	color:#999999
}
.InstructionText
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#3c3c3c
}
.InstructionTextStrong
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;font-weight:bold;
	color:#000000
}
.ButtonText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	background-color:#eaeff5;
	color:#000000
}
.ButtonTextDisabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	background-color:#eaeff5;
	color:#999966
}
.ApplicationSwitcherText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:8pt
}
.GlobalButtonText
{
	font-family:Tahoma;
	font-size:9pt;
	color:#ffffff
}
.GlobalButtonTextSelected
{
	font-family:Tahoma;
	font-size:9pt;
	color:#ffffff
}
.GlobalButtonTextDisabled
{
	font-family:Tahoma;
	font-size:9pt;
	color:#ffffff
}
.LinkText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#663300
}
.VLinkText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#996633
}
.ALinkText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#ff6600
}
.TipLabel
{
	font-family:Tahoma;
	font-size:10pt;
	color:#234a82;
	font-weight:bold
}
.TipText
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:10pt;color:#234a82
}
.TipLabelPale
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#ffffff
}
.TipTextPale
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:9pt;color:#ffffff
}
.InlineInfoText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;color:#336699
}
.TextInline
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#6699cc
}
.ErrorText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#cc0000
}
.ErrorNameText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#cc0000
}
.InlineErrorText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#cc0000
}
.ErrorHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:16pt;
	color:#cc0000
}
.Header
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:14pt;
	color:#3a5a87
}
.HeaderSub
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#3a5a87;
	font-weight:bold
}
.HeaderSubSub
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:8pt;
	color:#3a5a87;
	font-weight:bold;
}
.DarkHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:16pt;
	color:#003366
}
.DarkHeaderSub
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:13pt;
	color:#003366;
	font-weight:bold
}
.DarkHeaderSubSub
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#003366;
	font-weight:bold
}
.LightHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:16pt;
	color:#6699cc
}
.LightHeaderSub
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:13pt;
	color:#6699cc;
	font-weight:bold
}
.LightHeaderSubSub
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#6699cc;
	font-weight:bold
}
.ColorHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:16pt;
	color:#ffffcc
}
.ColorHeaderSub
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:13pt;
	color:#ffffcc;
	font-weight:bold
}
.ColorHeaderSubSub
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#ffffcc;
	font-weight:bold
}
.PortletHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#000000
}
.DarkPortletHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#000000
}
.GlobalPageTitle
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:13pt;
	color:#ffffff;
	font-weight:bold
}
.Nav1Selected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
        text-align:center;
	background-color:#c3d4e8;
    background-image: url(/olaf/images/tab/topTabBg.gif);
	color:#99ccff;
	font-weight:bold;
	text-dection:none
}
.Nav1Enabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
        text-align:center;
	background-color:#a3c2df;
        background-image: url(/olaf/images/tab/topDimTabBg.gif);
	color:#003366;
	text-dection:none
}
.Nav1Disabled
{

	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	background-color:#a3c2df;
	color:#ffffcc;
	text-dection:none
}

.Nav1Visited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:7pt;
        font-weight:normal;
        text-align:center;
	background-color:#a3c2df;
        background-image: url(/olaf/images/tab/topDimTabBg.gif);
	color:#003366;
	text-dection:none
}


.Nav2Selected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	font-weight:bold;
	background-color:#c3d4e8;
	color:#013d74!important;
	text-dection:none
}
.Nav2Selected:hover
{
	text-dection:underline
}
TD.Nav2Selected A:link
{
	color:#013d74!important;
    font-size:9pt;
	text-dection:none;
    background-color:#c3d4e8
}
TD.Nav2Selected A:active
{
	color:#013d74!important;
    font-size:9pt;
	text-dection:none;
    background-color:#c3d4e8
}
TD.Nav2Selected A:visited
{
	color:#013d74!important;
    font-size:9pt;
	text-dection:none;
    background-color:#c3d4e8
}
.Nav2Enabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
    color:#0a3a66!important;
    text-dection:none;
	background-color:#c3d4e8;
}
.Nav2Enabled:hover
{
	text-dection:underline;
}
TD.Nav2Enabled A:link
{
	color:#0a3a66!important;
    font-size:9pt;
	text-dection:none;
	background-color:#c3d4e8;
}
TD.Nav2Enabled A:active
{
	color:#0a3a66!important;
    font-size:9pt;
	text-dection:none;
	background-color:#c3d4e8;
}
TD.Nav2Enabled A:visited
{
	color:#0a3a66!important;
    font-size:9pt;
	text-dection:none;
	background-color:#c3d4e8!important;
}
.Nav2Disabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#6699cc;
	text-dection:none
}
.Nav3Selected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color:#336699;
	color:#ffffff;
	text-dection:none
}
.Nav3Enabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	background-color:#a3c2df;
	color:#003366
}
.Nav3Disabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	background-color:#a3c2df;
	color:#ffffcc;
	text-dection:none
}
.ProcessingStatusVariable
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#336699
}
.ProcessingStatusFixed
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#000000
}
.TableTitle
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:13pt;
	background-color:#ffffff;
	color:#336699
}
.Table
{
	background-color:#f2f2f5
}
.TableControlBarText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	background-color:#cfe0f1;
	color:#3c3c3c;
	font-weight:bold
}
.TableColumnHeader
{
	font-family:Tahoma;
	font-size:9pt;
	font-weight:bold;
	text-align:left;
	background-color:#cfe0f1;
	color:#3c3c3c;
}
.TableColumnHeader A:link
{
	font-size:9pt;
	font-weight:bold;
	text-align:left;
	background-color:#cfe0f1;
	color:#3c3c3c;
}
.TableColumnHeader A:active
{
	font-size:9pt;
	font-weight:bold;
	text-align:left;
	background-color:#cfe0f1;
	color:#3c3c3c;
}
.TableColumnHeader A:visited
{
	font-size:9pt;
	font-weight:bold;
	text-align:left;
	background-color:#cfe0f1;
	color:#3c3c3c;
}
.TableColumnHeaderNumber
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color:#a3c2df;
	color:#336699;
	vertical-align:bottom;
	text-align:right
}
.TableColumnHeaderIconButton
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color:#a3c2df;
	color:#336699;
	vertical-align:bottom;
	text-align:center
}
.TableSortableColumnHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:left;background-color:#a3c2df;
	color:#336699;
	vertical-align:bottom
}
.TableSortableColumnHeaderNumber
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;background-color:#a3c2df;
	color:#336699;
	vertical-align:bottom;
	text-align:right
}
.TableSortableColumnHeaderIconButton
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;background-color:#a3c2df;
	color:#336699;
	vertical-align:bottom;
	text-align:center
}
.TableRowHeader
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	font-weight:bold;
	text-align:right;
	background-color:#cfef01;
	color:#3c3c3c
}
.TableColumnFooter
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:left;
	background-color:#a3c2df;
	color:#336699
}
.TableTotal
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:right;
	background-color:#a3c2df;
	color:#336699
}
.TableAddTotal
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:left;
 	background-color:#a3c2df;
	color:#336699
}
.TableTotalNumber
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:right;
	background-color:#a3c2df;
	color:#000000;
	vertical-align:baseline
}
.TableTotalText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:left;
	background-color:#a3c2df;
	color:#000000;
	vertical-align:baseline
}
.TableCellText
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	background-color:#3c3c3c;
	color:#000000;
	vertical-align:baseline
}
.TableCellTextBand
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#000000;
	vertical-align:baseline;
	background-color:#ffffff
}
.TableCellNumber
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:right;
	background-color:#3c3c3c;
	color:#000000;
	vertical-align:baseline
}
.TableCellNumberBand
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:right;
	color:#000000;
	vertical-align:baseline;
	background-color:#ffffff
}
.TableCellIconButton
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;background-color:#eaeff5;
	color:#000000;
	vertical-align:baseline
}
.TableCellIconButtonBand
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;color:#000000;
	vertical-align:baseline;
	background-color:#ffffff
}
.TableCellSelect
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	background-color:#eaeff5;
	color:#000000;
	vertical-align:baseline
}
.TableCellSelectBand
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	color:#000000;
	vertical-align:baseline;
	background-color:#ffffff
}
.TableVerticalGrid
{
	background-color:#a3c2df;
	width:1px
}
.TableVerticalHeaderGrid
{
	background-color:#eaeff5;
	width:1px
}
.TableHorizontalGrid
{
	background-color:#a3c2df;
	width:1px
}
.TableHorizontalHeaderGrid
{
	background-color:#eaeff5;
	width:1px
}
.TableShadowHeaderGrid
{
	background-color:#666633;
	width:1px
}
.TableHeaderLink
{
	font-family:Tahoma,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	font-weight:bold;
	background-color:#cfe0f1;
	color:#3c3c3c;
	text-dection:none
}
.TableSortableHeaderLink
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;background-color:#a3c2df;
	color:#336699;
	text-dection:none;
	vertical-align:bottom
}
.TableBorder
{
	border-top: 1px #a3c2df solid;
	border-left: 1px #a3c2df solid;
	border-right: 1px #a3c2df solid;
	border-bottom: 1px #a3c2df solid;
}
.TableDetail
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#000000;
	background-color:#ffffff
}
.TrainActive
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	text-align:center;
	color:#336699;
	font-weight:bold;
	background-color:#ffffff
}
.TrainVisited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	text-align:center;
	color:#a3c2df;
	background-color:#ffffff
}
.TrainUnvisited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	text-align:center;
	color:#336699;
	background-color:#ffffff
}
.TrainDisabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	text-align:center;
	color:#999999;
	background-color:#ffffff
}
.Privacy
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:8pt;
	text-align:right;
	color:#663300
}
TD.Privacy A:link
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:8pt
}
TD.Privacy A:active
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:8pt
}
TD.Privacy A:visited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:8pt
}
.Copyright
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	text-align:left;
	color:#3c3c3c
}
TD.Copyright A:link
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#ffffff
}
TD.Copyright A:active
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#ffffff
}
TD.Copyright A:visited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#ffffff
}
.CrumbsSelected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#000000;
	text-dection:none
}
.CrumbsEnabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#663300
}
.NavBarActiveLink
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#663300
}
.NavBarInactiveLink
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#999966
}
.NavBarViewOnly
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#336699
}
.CalendarTitle
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:13pt;
	text-align:center;
	background-color:#ffffff;
	color:#336699
}
.CalendarHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	background-color:#a3c2df;
	color:#336699;
	padding:2px
}
.CalendarDisabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	background-color:#eaeff5;
	line-height:1.5;
	padding:2px;
	color:#999999;
	text-dection:none
}
.CalendarEnabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	color:#336699;
	text-dection:none
}
.CalendarSelected
{
	background-color:#999966;
	color:#ffffff;
	padding:2px
}
TABLE.CalendarDisabled A:link
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	color:#336699;
	text-dection:none
}
TABLE.CalendarDisabled A:active
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	color:#336699;
	text-dection:none
}
TABLE.CalendarDisabled A:visited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	text-align:center;
	color:#336699;
	text-dection:none
}
.SubTab
{
	background-color:#eaeff5;
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;color:#999966;
	padding-bottom:2pt
}
.SubTabSelected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#336699;
	font-weight:bold
}
TD.SubTabSelected A:link
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#336699;
	text-dection:none
}
TD.SubTabSelected A:active
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#336699;
	text-dection:none
}
TD.SubTabSelected A:visited
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#336699;
	text-dection:none
}
.ShuttleHeader
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:11pt;
	color:#336699;
	Font-weight:bold
}
.ShuttleLinkText
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	color:#663300
}
.MessageBoxList
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#336699;
	margin-bottom:0px
}
.MessageBoxLink
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#336699
}
.MessageBoxParagraph
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#336699;
	margin-top:15px
}
.MessageBoxErrorList
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#cc0000;
	margin-bottom:0px
}
.MessageBoxErrorLink
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#cc0000
}
.MessageBoxErrorParagraph
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#cc0000;
	margin-top:15px
}
.p_QuickSearchBox
{
	background-color:#eaeff5;
	border-color:#a3c2df;
	border-style:solid;
	padding:0pt 5pt 5pt 5pt;
	border-width:0px 0px 1px 1px
}
.p_GlobalQuick
{
	border-color:#a3c2df;
	border-style:solid;
	border-width:0px 0px 0px 1px
}
.p_Selected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color:#336699;
	color:#ffffff;
	text-dection:none
}
.p_Disabled
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt
}
.p_SideBar
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	background-color:#a3c2df;
	color:#003366
}
TD.p_SideBar A:link
{
	color:#003366
}
TD.p_SideBar A:active
{
	color:#003399
}
TD.p_SideBar A:visited
{
	color:#336699
}
TD.p_SideBar SPAN.p_Disabled
{
	color:#ffffcc
}
TD.p_SideBar TD.p_Selected  A:link
{
	color:#ffffff;
	text-dection:none
}
TD.p_SideBar TD.p_Selected  A:active
{
	color:#ffffff;
	text-dection:none
}
TD.p_SideBar TD.p_Selected  A:visited
{
	color:#ffffff;
	text-dection:none
}
.p_TreeIcon
{
	vertical-align:top
}
.p_TreeNodeAdjust
{
	padding-bottom:2px
}
.p_TreeRowSelected
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color:#336699;
	color:#ffffff
}
.p_TreeRow
{
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:10pt;
	color:#003366
}
SPAN.p_TreeRow A:link
{
	color:#663300
}
SPAN.p_TreeRow A:active
{
	color:#663300
}
SPAN.p_TreeRow A:visited
{
	color:#663300
}
SPAN.p_TreeRowSelected A:link
{
	color:#ffffff;
	text-dection:none
}
SPAN.p_TreeRowSelected A:active
{
	color:#ffffff;
	text-dection:none
}
SPAN.p_TreeRowSelected A:visited
{
	color:#ffffff;
	text-dection:none
}
.p_HiddenLabel
{
	position:absolute;
	top:-999px;left:0px
}
.p_SpacingHeader
{
	margin:4px 0px 2px 0px
}
.p_SpacingHeaderSub
{
	margin:10px 0px 2px 0px
}
.p_SpacingHeaderLarge
{
	margin:20px 0px 2px 0px
}
.p_Required
{
	font-size:10pt;
	font-family:Courier,sans-serif;
	color:#3366cc
}


/* Overriding styles which got changed in latest style sheet */

.Nav1Selected
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:9pt;
        text-align:center;
        color:#234a82!important;
        font-weight:bold
}
.Nav1Enabled
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:9pt;
        font-weight:bold;
        text-align:center;
        background-color:#e5e5e5;
        color:#4f6070!important;
}

.Nav1Visited
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:9pt;
        font-weight:normal;
        text-align:center;
        background-color:#e5e5e5;
        color:#4f6070!important;
}

.TableTitle
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:14pt;
        background-color:#ffffff;
        color:#336699
}
.TableRowHeader
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:9pt;
        font-weight:bold;
        text-align:left;
        background-color:#cfe0f1;
        color:#3c3c3c;
        text-indent:1
}
.TableRowHeader A:link
{
        font-size:9pt;
        font-weight:bold;
        text-align:left;
        background-color:#cfe0f1;
        color:#3c3c3c;
        text-indent:1
}
.TableRowHeader A:active
{
        font-size:9pt;
        font-weight:bold;
        text-align:left;
        background-color:#cfe0f1;
        color:#3c3c3c;
        text-indent:1
}
.TableRowHeader A:visited
{
        font-size:9pt;
        font-weight:bold;
        text-align:left;
        background-color:#cfe0f1;
        color:#3c3c3c;
        text-indent:1
}
.TableSortableColumnHeader
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        font-weight:bold;
        text-align:center;
        background-color:#cfe0f1;
        color:#3c3c3c;
        text-indent:1
}
.TableCellText
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        background-color:#f2f2f5;
        color:#3c3c3c;
        text-indent:1
}
.TableCellTextBand
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        background-color:#f2f2f5;
        color:#3c3c3c;
        text-indent:1
}
.TableCellNumber
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        text-align:right;
        background-color:#f2f2f5;
        color:#3c3c3c;
        text-indent:1
}
.TableCellNumberBand
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        text-align:right;
        background-color:#f2f2f5;
        color:#3c3c3c;
        text-indent:1
}

.TableCellIconButton
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        text-align:center;
        background-color:#eaeff5;
        color:#000000;
        text-indent:1
}
.TableCellIconButtonBand
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        text-align:center;
        background-color:#ffffff;
        color:#000000;
        text-indent:1
}
.TableCellSelect
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        background-color:#f2f2f5;
        color:#3c3c3c;
        text-align:center;
        text-indent:1
}
.TableCellSelectBand
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        background-color:#ffffff;
        color:#000000;
        text-align:center;
        text-indent:1
}
.TableHeaderLink
{
        font-family:Tahoma, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        font-weight:bold;
        background-color:#cfe0f1;
        color:#3c3c3c;
        text-indent:1;
        text-dection:none
}
.CalendarTitle
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:14pt;
        background-color:#ffffff;
        color:#336699;
        text-align:center
}
.MessageBoxList
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        color:#336699
}
.MessageBoxLink
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        font-weight:bold;
        color:#336699
}
.MessageBoxParagraph
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        color:#336699
}
.MessageBoxErrorList
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        color:#cc0000
}
.MessageBoxErrorParagraph
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        color:#cc0000
}
.ButtonText
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        background-color:#eaeff5;
        color:#000000;
        font-size:12pt
}
.ButtonTextDisabled
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        background-color:#eaeff5;
        color:#999966;
        font-size:12pt
}
.ColorHeaderSub
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:14pt;
        color:#ffffcc;
        font-weight:bold
}
.DarkHeaderSub
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:14pt;
        color:#003366;
        font-weight:bold
}
.FieldNumber
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        color:#000000
}
.FieldNumberDisabled
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        color:#999999
}
.GlobalPageTitle
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:14pt;
        color:#ffffff;
        font-weight:bold
}
.LightHeaderSub
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:14pt;
        color:#6699cc;
        font-weight:bold
}
.PromptText
{
        font-family:Arial, Helvetica, Geneva, sans-serif;
        font-size:10pt;
        text-align:right;
        color:#000000
}

.applicationBody
{ 	font-family: Tahoma;
	background-color: #ffffff;
	background-repeat: no-repeat;
}

HR { color: #eaeff5; height: 1px; }

.applicationName {
	font-family: Tahoma;
	font-size: 22pt;
	font-weight: bold;
	color: #336699;
	background-color: #ffffff;
	background-image: url(/olaf/images/headerBg.jpg);
	padding-top: 10
}

.anchorLink { }

.GlobalHeaderSeparator
{
	background-color: #ffffff;
}


.submitButtonEnable {
    margin: 2px;
    padding: 4px;
    border-top: 1px solid #a5a9b6;
    border-left: 1px solid #a5a9b6;
    border-bottom: 1px solid #7b8194;
    border-right: 1px solid #7b8194;
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #ffffff;
    font-size: 9pt!important;
    font-family: Tahoma;
    font-weight: bold;
    color: #586073!important;
    text-dection: none;
    text-align: center;
    vertical-align: middle;
    background-image: url(/olaf/images/btn-bg1.gif);
    white-space: nowrap;
    line-height:35px;
}

.submitButtonEnable1 {
    margin: 2px;
    padding: 4px;
    border-top: 1px solid #a5a9b6;
    border-left: 1px solid #a5a9b6;
    border-bottom: 1px solid #7b8194;
    border-right: 1px solid #7b8194;
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #ffffff;
    font-size: 9pt!important;
    font-family: Tahoma;
    font-weight: bold;
    color: #586073!important;
    text-dection: none;
    text-align: center;
    vertical-align: middle;
    background-image: url(/olaf/images/btn-bg1.gif);
    white-space: nowrap;
}

.submitButtonDisable {
    margin: 2px;
    padding: 4px;
    border-top: 1px solid #a5a9b6;
    border-left: 1px solid #a5a9b6;
    border-bottom: 1px solid #7b8194;
    border-right: 1px solid #7b8194;
    background-repeat: repeat-x;
    background-color: #ffffff;
    font-size: 9pt!important;
    font-family: Tahoma;
    font-weight: bold;
    color: #7e8694!important;
    text-dection: none;
    text-align: center;
    vertical-align: middle;
    background-image: url(/olaf/images/dis-btn-bg1.gif);
    white-space: nowrap;
    line-height:35px;
}

.submitButtonNoBorder {
    margin: 2px;
    padding: 2px;
    font-size:9pt!important;
    font-family: Tahoma;
    font-weight: bold;
    color: #6e758a!important;
    text-dection: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/* TreeTable related elements */

.TreeTableRowSelected
{
    font-family:Tahoma, Helvetica, Geneva, sans-serif;
    font-size:10pt;
    background-color:#b6cbe0;
    color:#3c3c3c;
}

.verticalAlignMiddle
{
    margin-top:2px;
    vertical-align:middle;
}

.highlight
{
    background-color:#b6cbe0;
}

.WaterMark
{
   font-style: italic;
   color:DarkGray; 
}

.wrap {
		position:relative;
		margin:0 auto;
               /*replace 900px with your width*/
		width:900px;
	}

	#header, #footer {
		width:100%;
		float:left;
	}