/*  Calendar header text  */
.smallcalHeader {
    padding-left: 3;
    padding-right: 3;
    text-align:center;
    font-weight: bold;
    font-size: 10pt;
    color: #ffffff;
    font-family: Trebuchet MS,arial,verdana,sans-serif;
    background-color: #0054e3;
    background-image: url(../images/TaskBarBG.gif);
    background-repeat: repeat-x;
}

.smallcalCellLines
{
    background-color: #cccccc;
}
.smallcalBorder
{
    background-color: #0054e3;
}
.smallcalSeperator
{
    
    height: 3;
    background-image: url(../images/progressBar.gif);
    background-repeat: repeat-x;
}

/*  Days of the week text  */
.smallcalDayLabels {
	background-color: #b3d7ff;
	font-family: verdana,sans-serif;
	font-size:   8pt;
	color:       darkblue;
	font-weight:  bold;
	text-align: center;
}
A.smallcalDayLabels {
    color:  #444444;
}

/*  Days of the month text and links */
.smallcalCurrentDay, .smallcalWeekday, .smallcalWeekend, .smallcalEvent, .smallcalSelectedDay {
        background-color: #ffffff;
        font-family: verdana,sans-serif;
        font-size:   10pt;
        color:       #333333;
        text-align: left;
        height: 20;
        width: 20;
        border-width: 1;
        border-style: solid;
        border-top-color: #b3d7ff;
        border-left-color: #b3d7ff;
        border-bottom-color: #b3d7ff;
        border-right-color: #b3d7ff;
}

/*  Calendar hilited day  */
.smallcalCurrentDay {
	background-color: #ffffcc;
	font-weight:  bold;
	color: #000000;
}

/*  Calendar selected day  */
.smallcalSelectedDay {
    background-color: #B0C4DE;
    font-weight:  bold;
    border-width: 1;
    border-style: solid;
    border-top-color: #000080;
    border-left-color: #000080;
    border-bottom-color: #000080;
    border-right-color: #000080;
}

.smallcalWeekend {
  background-color: #e8eff9;
}

.smallcalEvent {
	font-weight:   bold;
	color: #000000;
	background-color: #FFFFD7;
	text-decoration:  underline;
}

.smallcalNonselectableDay {
  background-image: url(../images/_x.gif);
  background-repeat: no-repeat;
}
